/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Raleway:wght@200;300;400;500&display=swap');
/*
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --blue: #1b55ac;
    --blue-dark: #153c76;
    --blue-light: #236ddc;
    --grey: #e6e6e6;
    --grey-dark: #7f7f7f;
    --grey-light: #c0c0c0;
}

.container {
    padding: 20px;
    background: #ece8e8;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    box-shadow:
        1.2px 1.9px 2.2px rgba(0, 0, 0, 0.031),
        2.9px 4.5px 5.3px rgba(0, 0, 0, 0.044),
        5.4px 8.4px 10px rgba(0, 0, 0, 0.055),
        9.6px 15px 17.9px rgba(0, 0, 0, 0.066),
        18px 28px 33.4px rgba(0, 0, 0, 0.079),
        43px 67px 80px rgba(0, 0, 0, 0.11);
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.findSelection {
    padding: 10px 10px 25px;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid silver;
}

.findSelection .wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.findSelection input[type=radio] {
    display: none;
}

.findSelection input[type=radio]:checked~label {
    background-color: var(--blue);
    color: rgb(240, 230, 230);
}

.findSelection label {
    border: 1px solid silver;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.inputGroup .unitSelection {
    padding: 0;
    margin: 0;
    height: 42px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    outline: none;
    width: 150px;
    border-color: #33333356;
    padding-left: 10px;
}

.inputItem {
    position: relative;
}

.inputItem label {
    display: inline-block;
    width: 80px;
    text-align: center;
}

.inputGroup input[type=number]::-webkit-outer-spin-button,
.inputGroup input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

.fa-solid {
    margin-right: 10px;
}

.inputGroup input[type=number] {
    padding: 10px;
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.buttonCollection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.buttonCollection button {
    user-select: none;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    box-shadow:
        0.8px 1.2px 1.4px rgba(0, 0, 0, 0.021),
        1.7px 2.6px 3.1px rgba(0, 0, 0, 0.031),
        2.9px 4.5px 5.3px rgba(0, 0, 0, 0.039),
        4.4px 6.9px 8.2px rgba(0, 0, 0, 0.047),
        6.5px 10.2px 12.2px rgba(0, 0, 0, 0.054),
        9.6px 15px 17.9px rgba(0, 0, 0, 0.063),
        14.4px 22.4px 26.8px rgba(0, 0, 0, 0.072),
        22.9px 35.7px 42.7px rgba(0, 0, 0, 0.085),
        43px 67px 80px rgba(0, 0, 0, 0.11);
}

.buttonCollection #calculateBtn:hover {
    background-color: var(--blue-light);
}

.buttonCollection #calculateBtn:active {
    background-color: var(--blue-dark);
}

.buttonCollection #resetBtn:hover {
    background-color: var(--grey-light);
}

.buttonCollection #resetBtn:active {
    background-color: var(--grey-dark);
}


.row button:nth-child(1) {
    background-color: var(--blue);
    color: rgb(241, 232, 232);
}

.answer-container {
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
    font-weight: bold;
}